@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 600px;
  background-color: rgb(255, 255, 255);
}

body,
input,
button {
  font-family: "Manrope", sans-serif;
  color: rgb(44, 44, 44);
}

.date-input {
  outline: none;
  border: none;
  background-color: rgb(230, 230, 230);
  font-size: 14px;
  margin: 10px;
  max-width: 100px;
  padding: 5px 5px;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.date-input:focus {
  border: 2px solid black;
}

.main-button {
  padding: 5px 14px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(0, 114, 221);
  font-size: 14px;
  max-width: 150px;
  cursor: pointer;
  margin: 10px;
}

.main-button:active {
  border: rgba(255, 255, 255, 0) solid 1px;
}

.calculator {
  max-width: 500px;
}

.calc-container {
  border-radius: 10px;
  padding: 5px 20px;
  min-height: 400px;
  border: 2px solid rgb(161, 161, 161);
}

.date-item {
  margin: 5px auto;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  border-radius: 5px;
}

.result-box {
  background-color: lightgray;
  min-width: 15px;
  min-height: 25px;
  border-radius: 4px;
  display: inline-block;
}

.result-dates-container {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profit-analysis {
  margin: 10px auto;
  min-height: 200px;
  border-radius: 50px;
}
.profit-analysis p {
  text-align: center;
}

.profit-banner {
  background-color: #118c4f;
  max-width: 350px;
  color: white;
  height: 120px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profit-banner p {
  margin: 2px;
}
.loss {
  background-color: rgb(201, 0, 0);
  justify-content: center;
  color: white;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.dolla-dolla {
  color: #faff00;
  font-size: 65px;
  margin: 10px;
}

.banner-result {
  font-size: 34px;
  color: #faff00;
  margin: 5px;
}

.error-message {
  width: 90%;
  min-height: 40px;
  background-color: rgb(201, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}

.success-message {
  width: 90%;
  min-height: 30px;
  background-color: rgb(16, 156, 34);
  color: white;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}
